*, *:before, *:after {
  box-sizing: border-box;
}

@import url('https://cdn.rawgit.com/sh4hids/bangla-web-fonts/lal-sabuj-normal/stylesheet.css');
@import url('https://fonts.maateen.me/siyam-rupali/font.css');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');
@import url("https://fonts.maateen.me/solaiman-lipi/font.css");
@import url("https://fonts.maateen.me/kalpurush/font.css");


:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

html, body {
  height: 100%;
  margin: 0;
  background: #f3eeee; 
  font-family: Google Sans, 'Kalpurush';

}

#app{
  margin-top: 60px;
  padding-bottom: 30px;
}



.header{
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 7px;
  background: var(--teal);
  color: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  z-index: 99;
}

.header .avatar{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.header .avatar img{
  height: 40px;
  width: 40px;
}

.header .title{
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 20px;
}

.header .myscore{
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .myscore .count{
  font-family: Google Sans;
  background: #ebbfda;
  color: rgb(24, 21, 21);
  border-radius: 9px;
  padding: 0px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
}

.header .myscore .icofont-badge{
  font-size: 20px;
  color: gold;
}

a{
  text-decoration: none;
}

.exam{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0, .2);
  margin: 5px 0px;
  text-align: center;
  border-radius: 5px;
  position: relative;
  background: #fff;
  overflow: hidden;
  font-family: Google Sans, 'SiyamRupali';
  height: 85px;
  width: 100%;
  }
  
  .at{
      position: absolute;
      top: 2%;
      right: 2%;
      text-align: right;
      /* font-family: 'JetBrains Mono', monospace; */
      color:  #666464;
      font-size: 9px;
      /* padding: 3px; */
  }
  
  .class{
      position: absolute;
      left: 0%;
      top: 2%;
      font-size: 11px;
      padding: 2px;
      background: var(--danger);
      color: #fff;
      border-radius: 3px;
      font-weight: bold;
      box-shadow: 0 1px 8px rgba(0,0,0,.3);
  }
  
  .author{
      color: #666464;
      font-size: 10px;
  }
 
  .exam .logo{
   height: 50px;
   width: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 25px;
   border-radius: 50%;
   /* border: 2px solid var(--teal); */
   color: #fff;
   background: var(--teal);
  }
  
  .exam .title{
    font-size: 17px;
    font-weight: bold;
    color: #000;
  }
  
  .exam .others{
    font-size: 13px;
    color: #000;
  }

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--indigo);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.ld{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


h1 {
  margin: 0;
}

header > h1 {
  padding: 1rem 1rem 0;
}

header > p, main {
  padding: 0 1rem;
}


main{
  position: relative;
}

ul {
  background: rgb(33, 33, 33);
  list-style: none;
  padding: 0;
}

ul li {
  display: inline-block;
}

ul li a:link, ul li a:visited {
  color: lightgray;
  display: block;
  padding: 1rem;
}

ul li a:active, ul li a:hover {
  color: hotpink;
  transition: color 500ms ease-in;
}

.menu-title{
  font-size: 20px;
  font-weight: bold;
  margin: 5px 5px;
  font-family: Google Sans, 'Hind Siliguri';
}

.menu{
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

.item{
   text-align: center;
   font-size: 17px;
   padding: 10px;
   color: #000;
   border-radius: 3px;
   background: #fff;
   margin: 5px 5px;
   height: 60px;
   width: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: 0px 2px 4px rgba(0,0,0, .2);
   text-align: center;
}

.bfontIcon{
  font-family: 'CharukolaUltraLight', sans-serif;
  font-weight: bold;
  background: #8E2DE2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #4A00E0, #8E2DE2); 
  background: linear-gradient(to top, #4A00E0, #8E2DE2);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}